@font-face {
   font-family: 'News Cycle';
   font-style: normal;
   font-weight: 700;
   src: url('file:///C:/Users/Rutu/Desktop/Zenith%20Website%20final/website//fonts/News Cycle/700.ttf') format('truetype');
}
@font-face {
   font-family: 'News Cycle';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/Rutu/Desktop/Zenith%20Website%20final/website//fonts/News Cycle/regular.ttf') format('truetype');
}
